[submodule "ChocoGL/vendor/spdlog"]
	path = ChocoGL/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ChocoGL/vendor/imgui"]
	path = ChocoGL/vendor/imgui
	url = https://github.com/lzqchr/imgui.git

[submodule "ChocoGL/vendor/GLFW"]
	path = ChocoGL/vendor/GLFW
	url = https://github.com/lzqchr/glfw.git
[submodule "ChocoGL/vendor/glm"]
	path = ChocoGL/vendor/glm
	url = https://github.com/g-truc/glm.git
